@import url(//db.onlinewebfonts.com/c/db33e70bc9dee9fa9ae9737ad83d77ba?family=Gotham);
@import url(//db.onlinewebfonts.com/c/1549fe8fd297f1e6501a3d6ad7f77394?family=Gotham+Rounded);
@import url(//db.onlinewebfonts.com/c/db33e70bc9dee9fa9ae9737ad83d77ba?family=Gotham);
@import url(//db.onlinewebfonts.com/c/1549fe8fd297f1e6501a3d6ad7f77394?family=Gotham+Rounded);
@import url(//db.onlinewebfonts.com/c/db33e70bc9dee9fa9ae9737ad83d77ba?family=Gotham);
@import url(//db.onlinewebfonts.com/c/1549fe8fd297f1e6501a3d6ad7f77394?family=Gotham+Rounded);
.header {
  background-color: #383838;
  font-family: Helvetica, sans-serif;
}
.header .header-container {
  align-items: center;
  justify-content: space-between;
  font-size: 2.2rem;
  width: 70%;
}
.header .logo-header {
  align-items: center;
}
.header .logo-header .logo-img {
  width: 12rem;
  height: 6rem;
  margin: 1rem;
}
.header .navbar-header {
  align-items: center;
  text-transform: uppercase;
}
.header .navbar-header a {
  text-decoration: none;
}
.header .navbar-header ul {
  list-style: none;
}
.header .navbar-header li {
  margin: auto 1rem;
}
.header .navbar-header .home-header {
  color: #D35266;
}
.header .navbar-header .navbar-items, .header .navbar-header .navbar-items:visited, .header .navbar-header .navbar-items:link {
  color: #888888;
}
.header .header-container-right {
  justify-content: space-around;
  align-items: center;
}
.header .header-container-right a, .header .header-container-right a:visited, .header .header-container-right a:link {
  padding: 0 1rem;
  color: #888888;
  text-decoration: none;
}
.header .header-container-right .User {
  font-size: 4rem;
}

.hero {
  background-color: #D35266;
  background-image: url(../img/logo-header.png);
  background-repeat: no-repeat;
  background-position-x: 10rem;
  padding: 10rem 0;
  text-align: center;
}
.hero .hero-title {
  color: white;
  margin-bottom: 5rem;
  width: 70%;
}
.hero .hero-title h1 {
  font-family: Gotham;
  font-size: 7rem;
}
.hero .hero-title p {
  font-family: Gotham Rounded;
  font-size: 2.5rem;
  font-weight: 400;
}
.hero .navbar-hero {
  justify-content: center;
  align-items: center;
  width: 70%;
}
.hero .inputs-hero {
  margin: 0;
  height: fit-content;
  align-items: center;
}
.hero .inputs-hero input {
  padding: 1rem;
  margin: 0;
  outline: none;
  width: 30rem;
}
.hero .styles-input-hero {
  background-color: white;
  width: 20rem;
  height: 100%;
  padding: 1.3rem;
  margin: 0;
  text-decoration: none;
  color: #888888;
}
.hero .styles-input-hero i {
  color: #383838;
  padding: 0 0.5rem;
}
.hero .search-button-hero {
  margin: 0 0 0 2rem;
  background-color: #383838;
  width: 10rem;
  height: 100%;
  padding: 1.3rem;
  text-decoration: none;
  color: #888888;
}

.main {
  background-color: #fcfcfc;
}
.main .hot-ads {
  width: 70%;
  padding-bottom: 3rem;
}
.main .hot-ads .hot-container {
  align-items: center;
}
.main .hot-ads .hot-ads-title {
  width: 70%;
  padding: 2rem 0;
}
.main .hot-ads .hot-ads-title h2 {
  color: #888888;
}
.main .hot-ads .hot-arrow {
  width: 5.5rem;
  height: 5rem;
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 50%;
  position: relative;
}
.main .hot-ads .hot-arrow i {
  color: #D35266;
  font-size: 3.5rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.main .hot-ads .hot-ads-info {
  width: 70%;
  margin: 0;
  border-bottom: 0.1rem solid #888888;
  border-right: 0.1rem solid #888888;
  box-shadow: 1rem 0.5rem rgba(136, 128, 128, 0.1);
}
.main .hot-ads .hot-ads-info .hot-img {
  height: 30rem;
  width: 60rem;
  position: relative;
}
.main .hot-ads .hot-ads-info .hot-img img {
  width: 100%;
  height: 100%;
}
.main .hot-ads .hot-ads-info .hot-img .img-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #383838;
  padding: 1rem 1.6rem;
}
.main .hot-ads .hot-ads-info .hot-img .img-arrow i {
  color: #D35266;
  padding: 0 0.8rem;
  font-size: 2.5rem;
}
.main .hot-ads .hot-ads-info .hot-description {
  padding: 1rem 3rem;
}
.main .hot-ads .hot-ads-info .hot-description h3 {
  color: #D35266;
  font-size: 2rem;
}
.main .hot-ads .hot-ads-info .hot-description p {
  width: 100%;
  text-align: start;
  margin: 0;
  font-size: 1.7rem;
  padding: 1rem 0;
  font-weight: bold;
  color: #888888;
}
.main .hot-ads .hot-ads-info .hot-description .description-a {
  text-decoration: none;
  color: #888888;
  font-weight: normal;
  margin-bottom: 1rem;
}
.main .hot-ads .hot-ads-info .hot-description .buttons-description {
  padding-top: 2rem;
}
.main .hot-ads .hot-ads-info .hot-description .buttons-a {
  background-color: #D35266;
  text-decoration: none;
  color: white;
  margin-top: 2rem;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  font-size: 2rem;
  font-weight: bold;
}
.main .hot-ads .hot-ads-info .hot-description .description-a:visited,
.main .hot-ads .hot-ads-info .hot-description .description-a:link {
  text-decoration: none;
  color: #888888;
}
.main .hot-ads .hot-ads-info .hot-description .buttons-a:visited,
.main .hot-ads .hot-ads-info .hot-description .buttons-a:link {
  text-decoration: none;
  color: white;
}
.main .styles-section {
  background-color: #f6f6f6;
  padding: 3rem 0;
  height: 45rem;
  width: 70%;
}
.main .styles-section .title-section {
  align-items: center;
  justify-content: start;
  margin: 0 4rem;
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
}
.main .styles-section .title-section h2 {
  margin: 0;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.7rem;
}
.main .styles-section .title-section h2 i {
  padding-right: 1rem;
}
.main .styles-section .title-section p {
  margin: 0 0.5rem;
  color: #888888;
  padding: 1rem 0;
}
.main .styles-section .View-title {
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
.main .styles-section .View-title a {
  text-decoration: none;
  color: #D35266;
  font-family: Gotham;
}
.main .styles-section .View-title a:visited,
.main .styles-section .View-title a:link {
  color: #D35266;
}
.main .styles-section .carrousel {
  align-items: center;
  padding: 2rem 0;
  position: relative;
  height: 91.5%;
}
.main .styles-section .carrousel input {
  display: none;
}
.main .styles-section .carrousel .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel {
  border: 1px solid #888888;
  background-color: white;
  width: 20.2rem;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .img-carrousel img {
  width: 20rem;
  height: 20rem;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .carrousel-description {
  text-align: start;
  padding: 1rem;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .carrousel-description h4 {
  font-size: 1.7rem;
  color: #383838;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .carrousel-description p {
  color: #D35266;
  font-weight: bold;
  margin: 0.5rem 0;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .carrousel-description span {
  color: #383838;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .buttons-carrousel {
  justify-content: space-between;
  align-items: center;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .buttons-carrousel .plus,
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .buttons-carrousel .precio-b {
  margin: 1rem 1rem;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .buttons-carrousel .plus {
  background-color: transparent;
  border: 1px solid #888888;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .buttons-carrousel .plus i {
  color: #888888;
  padding: 1.5rem;
}
.main .styles-section .carrousel .slide_img .carrousel-container .item-carrousel .buttons-carrousel .precio-b {
  color: #D35266;
  font-size: 1.5rem;
  font-weight: bold;
}
.main .styles-section .carrousel .slide_img .prev, .main .styles-section .carrousel .slide_img .next {
  width: 4%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(163, 163, 163, 0.7);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}
.main .styles-section .carrousel .slide_img .next {
  right: 0;
}
.main .styles-section .carrousel .slide_img .prev {
  left: 0;
}
.main .styles-section .carrousel .slide_img .prev:hover, .main .styles-section .carrousel .slide_img .next:hover {
  transition: 0.3s;
  background-color: rgba(209, 73, 107, 0.8);
}
.main .styles-section .carrousel .slide_img .prev span, .main .styles-section .carrousel .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main .styles-section .carrousel .slide_img .prev span {
  border-color: transparent #383838 transparent transparent;
  right: 35%;
}
.main .styles-section .carrousel .slide_img .next span {
  border-color: transparent transparent transparent #383838;
  left: 35%;
}
.main .styles-section .carrousel #i1:checked ~ #one,
.main .styles-section .carrousel #i2:checked ~ #two,
.main .styles-section .carrousel #i3:checked ~ #three,
.main .styles-section .carrousel #i4:checked ~ #four,
.main .styles-section .carrousel #i5:checked ~ #ive,
.main .styles-section .carrousel #i6:checked ~ #six,
.main .styles-section .carrousel #i7:checked ~ #seven,
.main .styles-section .carrousel #i8:checked ~ #eight,
.main .styles-section .carrousel #i9:checked ~ #nine {
  z-index: 9;
  animation: scroll 4s ease-in-out;
}
.main .first {
  border-top: 1px solid #383838;
}
.main .first .title-s {
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
  margin: 0 4rem;
  justify-content: space-between;
}
.main .first .title-section {
  border: 0;
}
.main .last {
  border-bottom: 1px solid #383838;
  padding-bottom: 5rem;
  height: 50rem;
}
.main .last .carrousel .slide_img .prev,
.main .last .carrousel .slide_img .next {
  height: 93.5%;
}

.footer {
  background-color: white;
}
.footer .info-footer {
  width: 70%;
  border-top: 1px solid #888888;
  border-bottom: 2px solid #888888;
}
.footer .info-footer .logo-footer {
  width: 40%;
  margin: 0;
  margin-left: 5rem;
  padding: 2rem 0;
}
.footer .info-footer .logo-footer .img-footer img {
  width: 50rem;
  height: 20rem;
}
.footer .info-footer .logo-footer .logo-footer-description {
  padding: 1.5rem;
  color: #888888;
}
.footer .info-footer .footer-lists {
  width: 60%;
  margin: 0;
  padding: 2rem 0;
  margin-right: 5rem;
}
.footer .info-footer .footer-lists .column-list .title-list {
  color: #D35266;
  border-bottom: 2px solid #D35266;
}
.footer .info-footer .footer-lists .column-list .one-list ul {
  list-style: none;
}
.footer .info-footer .footer-lists .column-list .one-list ul li {
  padding: 1rem 0;
}
.footer .info-footer .footer-lists .column-list .one-list ul li a {
  text-decoration: none;
  color: #888888;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer .info-footer .footer-lists .column-list .one-list ul li a:hover {
  text-decoration: underline;
  color: #D35266;
  text-decoration-color: #D35266;
  font-size: 2.2rem;
}
.footer .info-footer .footer-lists .last-list {
  align-items: center;
}
.footer .info-footer .footer-lists .last-list .two-list ul {
  list-style: none;
}
.footer .info-footer .footer-lists .last-list .two-list ul li {
  padding: 2rem 0;
}
.footer .info-footer .footer-lists .last-list .two-list ul li .a-one {
  text-decoration: none;
  color: #D35266;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
}
.footer .info-footer .footer-lists .last-list .twopoint-list ul {
  list-style: none;
}
.footer .info-footer .footer-lists .last-list .twopoint-list ul li {
  padding: 2rem 0;
}
.footer .info-footer .footer-lists .last-list .twopoint-list ul li .a-two {
  text-decoration: none;
  color: #888888;
  padding: 1.3rem 1.5rem;
  border: 1px solid grey;
  border-radius: 0.4rem;
  margin-left: 1rem;
  width: 50%;
}
.footer .info-footer .footer-lists .last-list .twopoint-list ul li .a-two:hover {
  font-size: 2.2rem;
  background-color: #383838;
  text-decoration: underline;
  color: #D35266;
}
.footer .copy-right-footer {
  width: 70%;
  border-top: 1px solid #888888;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
.footer .copy-right-footer .letters-footer {
  margin: 0 0 0 5rem;
  font-size: 1.7rem;
  color: #888888;
}
.footer .copy-right-footer .social-links {
  margin: 0 5rem 0 0;
}
.footer .copy-right-footer .social-links a {
  padding: 1rem;
  font-size: 4rem;
  color: #888888;
}

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 10px -> 1rem */
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/*# sourceMappingURL=main-style.css.map */
