@import 'variables';

.headers {
    background-color: $thirdcolor;
    font-family: $Secondfont;
    
    .headers-container {
        align-items: center;
        justify-content: space-between;
        font-size: 2.2rem;
        width: $desktopwidth;
    }

    .logo-headers {
        align-items: center;
        
        .logo-img {
            width: 12rem;
            height: 6rem;
            margin: 1rem;
        }
    }


    .navbar-headers {
        align-items: center;
        text-transform: uppercase;

        a {
            text-decoration: none;
            padding: 1rem;
        }

        ul {
            list-style: none;
        }

        li {
            margin: auto 1rem;
        }

        
        .home-headers {
            color: $primarycolor;
        }
        
        .navbar-items, .navbar-items:visited, .navbar-items:link {
            color: $secondarycolor;
        }
        
        .search-headers {
            background-color: $primarycolor;
            color: white;
            border-radius: .4rem;
        }

        .navbar-items:hover,
        .home-headers:hover {
            background-color: $thirdcolohover;
            border-radius: .4rem;
        }

        .search-headers:hover {
            background-color: $primarycolor;
            color: white;
            border-radius: .4rem;
        }
    }

    .headers-container-left {
        margin-left: 0;
    }

    .headers-container-right {
        justify-content: space-around;
        align-items: center;
        margin-right: 0;
        
        a, a:visited, a:link {
            padding: 0 1rem;
            color: $secondarycolor;
            text-decoration: none;
        }

        .User {
            font-size: 4rem;
        }
    }

}