@import 'variables';

.main {
  background-color: $fourthcolor;

  .last {
    border-bottom: 1px solid $thirdcolor;
    padding-bottom: 5rem;
    height: 50rem;

    .carrousel {
      .slide_img {
        .prev,
        .next {
          height: 93.5%;
        }
      }
    }
  }

  .hot-ads {
    .hot-arrow {
      width: 5.5rem;
      height: 5rem;
      background-color: transparent;
      border: 1px solid $secondarycolor;
      border-radius: 50%;
      position: relative;

      i {
        color: $primarycolor;
        font-size: 3.5rem;
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .hot-ads-info {
      width: 70%;
      margin: 0;
      border-bottom: 0.1rem solid $secondarycolor;
      border-right: 0.1rem solid $secondarycolor;
      box-shadow: 1rem 0.5rem rgba($color: #888080, $alpha: 0.1);
      padding: 1.5rem 0;

      .hot-img {
        height: 30rem;
        width: 30%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }

        .img-arrow {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: $thirdcolor;
          padding: 1rem 1.6rem;

          i {
            color: $primarycolor;
            padding: 0 0.8rem;
            font-size: 2.5rem;
          }
        }
      }

      .hot-description {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 3rem 1rem 1rem;
        width: 70%;

        h3 {
          color: $primarycolor;
          font-size: 2rem;
        }

        .desktop-p {
          width: 100%;
          height: 10rem;
          text-align: start;
          margin: 0;
          font-size: 1.7rem;
          padding: 1rem 0;
          font-weight: bold;
          color: $secondarycolor;
        }

        .movil-p1 {
          display: none;
          text-decoration: none;
          color: $thirdcolor;
          font-weight: bold;
          font-size: 1.2rem;
        }

        .description-a {
          text-decoration: none;
          color: $secondarycolor;
          font-weight: normal;
          margin-bottom: 1rem;
        }

        .data-des {
          margin: 0 auto 0 0;
        }

        .buttons-description {
          margin: 0 0 0 auto;
          padding: 1rem;

          .buttons-a {
            background-color: $primarycolor;
            text-decoration: none;
            color: white;
            margin-top: 2rem;
            padding: 1rem 3rem;
            border-radius: 0.4rem;
            font-size: 1.5rem;
            font-weight: bold;
          }

          .plus {
            display: none;

            a {
              text-decoration: none;

              i {
                color: $primarycolor;
                padding: 1rem;
                border: 1px solid $secondarycolor;
                margin: 1rem;
                background-color: $thirdcolor;
              }
            }
          }
        }

        .description-a:visited,
        .description-a:link, {
          text-decoration: none;
          color: $secondarycolor;
        }

        .buttons-a:visited,
        .buttons-a:link {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .styles-section {
    background-color: $fifthcolor;
    padding: 3rem 0;
    height: 45rem;
    width: $desktopwidth;

    .carrousel {
      align-items: center;
      padding: 2rem 0;
      position: relative;
      height: 91.5%;

      input {
        display: none;
      }

      .slide_img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        .prev,
        .next {
          width: $big_nav_width;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: $nav_color;
          z-index: 99;
          transition: 0.45s;
          cursor: pointer;
          text-align: center;
        }

        .prev span,
        .next span {
          position: absolute;
          width: 0;
          height: 0;
          border: solid 20px;
          top: 50%;
          transform: translateY(-50%);
        }

        .prev span {
          border-color: transparent $thirdcolor transparent transparent;
          right: 35%;
        }

        .next span {
          border-color: transparent transparent transparent $thirdcolor;
          left: 35%;
        }

        .carrousel-container {
          height: 100%;

          .item-carrousel {
            border: 1px solid $secondarycolor;
            background-color: white;
            width: 15%;
            height: 100%;

            .img-carrousel {
              img {
                width: 100%;
                height: 20rem;
              }
            }

            .carrousel-description {
              text-align: start;
              padding: 1rem;

              h4 {
                font-size: 1.7rem;
                color: $thirdcolor;
              }

              p {
                color: $primarycolor;
                font-weight: bold;
                margin: 0.5rem 0;
              }

              span {
                color: $thirdcolor;
              }
            }

            .buttons-carrousel {
              justify-content: space-between;
              align-items: center;

              .plus,
              .precio-b {
                margin: 1rem 1rem;
              }

              .plus {
                background-color: transparent;
                border: 1px solid $secondarycolor;

                i {
                  color: $secondarycolor;
                  padding: 1.5rem;
                }
              }

              .precio-b {
                color: $primarycolor;
                font-size: 1.5rem;
                font-weight: bold;
              }
            }
          }

          .item-carrousel:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            z-index: 10;
          }
        }

        .next {
          right: 0;
        }

        .prev {
          left: 0;
        }

        .prev:hover,
        .next:hover {
          transition: 0.3s;
          background-color: $nav_hover_color;
        }
      }

      #i1:checked ~ #one,
      #i2:checked ~ #two,
      #i3:checked ~ #three,
      #i4:checked ~ #four,
      #i5:checked ~ #ive,
      #i6:checked ~ #six,
      #i7:checked ~ #seven,
      #i8:checked ~ #eight,
      #i9:checked ~ #nine {
        z-index: 9;
        animation: scroll 4s ease-in-out;
      }
    }
  }

  .hot-ads {
    width: $desktopwidth;
    padding-bottom: 3rem;

    .hot-container {
      align-items: center;
    }

    .hot-ads-title {
      width: 70%;
      padding: 2rem 0;

      h2 {
        color: $secondarycolor;
      }
    }
  }

  .styles-section {

    .title-section {
      align-items: center;
      justify-content: start;
      margin: 0 4rem;
      border-bottom: 1px solid $nav_color;

      h2 {
        margin: 0;
        padding: 1rem 1rem 1rem 0;
        font-size: 1.7rem;

        i {
          padding-right: 1rem;
        }
      }

      p {
        margin: 0 0.5rem;
        color: $secondarycolor;
        padding: 1rem 0;
      }
    }

    .View-title {
      justify-content: flex-end;
      align-items: center;
      margin: 0;

      a {
        text-decoration: none;
        color: $primarycolor;
        font-family: $firstfont;
      }

      a:visited,
      a:link {
        color: $primarycolor;
      }
    }
  }

  .first {
    border-top: 1px solid $thirdcolor;

    .title-s {
      border-bottom: 1px solid $nav_color;
      margin: 0 4rem;
      justify-content: space-between;
    }

    .title-section {
      border: 0;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .main {
    .hot-ads {
      width: 80%;
    }

    .styles-section {
      width: 80%;

      .carrousel {
        .slide_img {
          .carrousel-container {
            .item-carrousel {
              width: 25%;
            }

            .media1 {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 510px) and (max-width: 1023px) {
  .main {
    .hot-ads {
      width: $movilwidth;

      .hot-container {
        .hot-ads-info {
          .hot-description {
            .buttons-description {
              display: flex;
              align-items: center;

              .buttons-a {
                margin-top: 0;
              }

              .purch1 {
                display: none;
              }

              .plus {
                display: block;
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }

    .styles-section {
      width: $movilwidth;

      .carrousel {
        .slide_img {
          .carrousel-container {
            .item-carrousel {
              width: 35%;
            }

            .media2 {
              display: none;
            }

            .media1 {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 509px) {
  .main {
    .hot-ads {
      width: $movilwidth;

      .hot-container {
        .hot-ads-info {
          .hot-description {
            .data-des {
              display: none;
            }

            .buttons-description {
              display: flex;
              align-items: center;
              margin: 1rem auto 0;
              padding: 1rem 0 0 0;

              .buttons-a {
                margin-top: 0;
              }

              .purch1 {
                display: none;
              }

              .plus {
                display: block;
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }

    .styles-section {
      width: $movilwidth;

      .carrousel {
        .slide_img {
          .carrousel-container {
            .item-carrousel {
              width: 35%;
            }

            .media3 {
              display: none;
            }

            .media2 {
              display: none;
            }

            .media1 {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .main {
    .hot-ads {
      width: $movilwidth;

      .hot-container {
        .hot-ads-info {
          .hot-description {
            .desktop-p {
              display: none;
            }

            .movil-p1 {
              display: block;
            }

            .data-des {
              display: none;
            }

            .buttons-description {
              display: flex;
              align-items: center;
              margin: 1rem auto 0;
              padding: 1rem 0 0 0;

              .buttons-a {
                margin-top: 0;
              }

              .purch1 {
                display: none;
              }

              .plus {
                display: block;
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }

    .styles-section {
      width: $movilwidth;

      .carrousel {
        .slide_img {
          .carrousel-container {
            .item-carrousel {
              width: 35%;

              .img-carrousel {
                img {
                  height: 15rem;
                }
              }
            }

            .media3 {
              display: none;
            }

            .media2 {
              display: none;
            }

            .media1 {
              display: none;
            }
          }
        }
      }
    }
  }
}
