//widths

//After 768px
$desktopwidth: 85%;
//Before 768px
$movilwidth:100%;


// Colors
$primarycolor: #D35266;
$secondarycolor: #888888;
$thirdcolor: #383838;
$fourthcolor: #fcfcfc;
$fifthcolor: #f6f6f6;
$nav_color: rgba(163, 163, 163, 0.7);
$nav_hover_color: rgb(209, 73, 107, .8);


//Typography
@import url(//db.onlinewebfonts.com/c/db33e70bc9dee9fa9ae9737ad83d77ba?family=Gotham);
@import url(//db.onlinewebfonts.com/c/1549fe8fd297f1e6501a3d6ad7f77394?family=Gotham+Rounded);

$firstfont: Gotham;
$Secondfont: Helvetica, sans-serif;
$thirdfont: Gotham Rounded;

// Slider

$big_width: 70%; 			//Slider width - large display
$big_height: 40%; 		//Slider height - large display
$big_nav_width: 12%;	// Previous and Next width - large display


